
<table  class="table table-bordered table-responsive" id="MyTable">
  <thead class="table_header">
    <th>Doc No</th>
    <th>Doc Item</th>
    <th>Doc Date</th>
    <th>Po No</th>
    <th>Po Line Item</th>
    <th>Vendor</th>
    <th>Qty</th>
    <th>Mvt Type<br>(not 321,<br>107,108)</th>
    <th>Receipt<br> /Issue</th>
  </thead>
  <tbody class="table_body">
    <tr class="trData">
      <td>4900072569</td>
      <td>2</td>
      <td>08.05.2014</td>
      <td>5000002368</td>
      <td>2</td>
      <td>321655<br>Dresser Rand</td>
      <td>1000</td>
      <td>311</td>
      <td>I</td>
    </tr>

    <tr>
        <td>4900072569</td>
        <td>2</td>
        <td>08.05.2014</td>
        <td>5000002368</td>
        <td>2</td>
        <td>321655<br>(Dresser Rand)</td>
        <td>1000</td>
        <td>311</td>
        <td>R</td>
      </tr>

      <tr>
          <td>4900072569</td>
          <td>2</td>
          <td>08.05.2014</td>
          <td>5000002368</td>
          <td>2</td>
          <td>321655<br>Dresser Rand</td>
          <td>1000</td>
          <td>311</td>
          <td>R</td>
        </tr>
  </tbody>
</table>