


    .wrapper{
        float: left;
        width: 100%;
        background-color: navy;
        color: white;
        text-align: center;
        margin: 2px;
}

.wrapper1{
    float: left;
        width: 100%;
        background-color: navy;
        color: white;
        text-align: center;
        margin: 2px;
        margin-top: -56px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    
}
.mat-toolbar-row[_ngcontent-c2], .mat-toolbar-single-row[_ngcontent-c2] {
    display: flex;
    box-sizing: border-box;
    padding: -1px 16px;
    font-family: initial;
    font-size: 16px;
    width: 100%;
    flex-direction: row;
    margin-top: -11px;
    margin-bottom: -25px;
    align-items: center;
    white-space: nowrap;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: -1px 16px;
    font-family: initial;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}