

<div class="table-responsive">
<table class="table table-bordered " id="MyTable">
    <tbody class="table_body">
      <tr>
          <th class="table_header"> Logical Code</th>
          <td> 342354565878</td>
          <th class="table_header"> Bin Number</th>
          <td> A01-A011A-10-00</td>
      </tr>

      <tr>
          <th class="table_header"> Plant</th>
          <td> 3900(RIL HZ)</td>
          <th class="table_header"> Storage Location</th>
          <td> 1000(HMD-MMC-GEN)</td>
        </tr>
        
        <tr>
            <th class="table_header" >Pack Size & UOM </th>
            <td class="td_divide">1</td>
            <th class="table_header"> Moving Avg.Price</th>
            <td> 84.72</td>
          </tr>
         
          <tr>
              <th class="table_header"> Batch</th>
              <td> 1000004076</td>
              <th class="table_header"> Vendor Batch</th>
              <td> </td>
            </tr>
            <tr>
                <th class="table_header"> MRPC</th>
                <td> AROMATICS OPERATO(ARO)</td>
                <th class="table_header"> Valuation Type</th>
                <td> New-LOC</td>
            </tr>

            <tr>
                <th class="table_header"> Shelf life expiry date</th>
                <td> 10.09.2020</td>
                <th class="table_header"> Requisitioner</th>
                <td>Administration</td>
              </tr>
            
              
            <tr>
                <th class="table_header">Serial number</th>
                <td> PVC123456</td>
                <th class="table_header"> Stock type</th>
                <td>Unrestricted ware house(F2)</td>
              </tr>
        
              <tr>
                  <th class="table_header">Warrenty start date</th>
                  <td> 10..9.2016</td>
                  <th class="table_header"> Part number</th>
                  <td>MANDJ</td>
                </tr>
          
                <tr>
                    <th class="table_header">Master Warrenty </th>
                    <td> E45-12 months</td>
                    <th class="table_header"> WBS number</th>
                    <td>JGD-NKX-678-U</td>
                  </tr>
    </tbody>
  </table>
</div>
