<div class="table-responsive">
  <table class="table table-bordered " id="MyTable">
    <tbody class="table_body">
        <tr>
            <th class="table_header"> MRP Controller</th>
            <td> Aromatics operat</td>
            <th class="table_header"> MRP Type</th>
            <td> ROP with reservation(Z1)</td>
          </tr>
        
          <tr>
            <th class="table_header">Cross palnt status</th>
            <td> </td>
            <th class="table_header">Plant specific material status</th>
            <td> 03( Not moved >4 years)</td>
          </tr>
          <tr>
            <th class="table_header">Levels(min-rol-max)</th>
            <td> 9-0-10</td>
          </tr>
          </tbody>
        </table >
      </div>
      <div class="table-responsive">
        <table class="table table-bordered" id="MyTable">
          <thead>
            <th class="table_header"colspan="6">
              Stock Data
              </th>
          </thead>
          <tbody class="table_body">
            <tr>
              <th class="table_header">Unrestricted stock of SLOC</th>
              <td>1</td>
              <td>EA</td>
              <th class="table_header">Project stock of SLOC</th>
              <td>1</td>
              <td>EA</td>
            </tr>
    </tbody>
  </table>
    
</div>