<table class="table table-bordered table-responsive" id="MyTable">
    <tbody class="table_body">
      <tr>
        <th class="table_header">GRN Number Item</th>
        <td>230000992/01</td>
        <th class="table_header">PO No Item</th>
        <td>240000000092/10</td>
      </tr>

      <tr>
          <th class="table_header">Plant</th>
          <td>3611</td>
          <th class="table_header">Vendor</th>
          <td>321655(Dresser Rand)</td>
        </tr>
        
        <tr>
            <th class="table_header">GRN Date</th>
            <td>09.12.2016</td>
            <th class="table_header">PO Date</th>
            <td>01.12.2016</td>
          </tr>
         
          <tr>
              <th class="table_header">Sloc</th>
              <td>1000</td>
            </tr>
            
    </tbody>
  </table>